{% extends "base.html" %} {% block content %} {% include
"components/upload_modal.html" %} {% for torrent in torrent_list %}
<div
    id="card-{{ torrent.hash }}"
    class="card bg-base-100 w-full shadow-sm mb-4"
>
    <div class="card-body">
        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-10">
                <h2 class="card-title">{{ torrent.name }}</h2>
                <div class="w-full flex items-center">
                    Progression:
                    <progress
                        class="progress {% if torrent.progress == 1 %}progress-success{% else %}progress-secondary{% endif %} ml-2"
                        value="{{ torrent.progress }}"
                        max="1"
                    ></progress>
                </div>
                <p>
                    {{ torrent.num_seeds }} Seeds - {{ torrent.num_leechs }}
                    Leechs - {{ torrent.ratio|round(2) }} Ratio
                </p>
                <p>{{ torrent.added_on|relative_time }}</p>
            </div>
            <div class="col-span-2 flex flex-col items-end">
                <div>
                    <div class="flex">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-arrow-down-icon lucide-arrow-down"
                        >
                            <path d="M12 5v14" />
                            <path d="m19 12-7 7-7-7" /></svg
                        ><span class="ml-2"
                            >{{ torrent.dlspeed|format_size }}/s</span
                        >
                    </div>
                    <div class="flex">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-arrow-up-icon lucide-arrow-up"
                        >
                            <path d="m5 12 7-7 7 7" />
                            <path d="M12 19V5" /></svg
                        ><span class="ml-2"
                            >{{ torrent.upspeed|format_size }}/s</span
                        >
                    </div>
                    <div class="flex">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-hard-drive-icon lucide-hard-drive"
                        >
                            <path d="M10 16h.01" />
                            <path
                                d="M2.212 11.577a2 2 0 0 0-.212.896V18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-5.527a2 2 0 0 0-.212-.896L18.55 5.11A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"
                            />
                            <path d="M21.946 12.013H2.054" />
                            <path d="M6 16h.01" /></svg
                        ><span class="ml-2"
                            >{{ torrent.total_size|format_size }}</span
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <button class="btn btn-primary">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-download-icon lucide-download"
                >
                    <path d="M12 15V3" />
                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                    <path d="m7 10 5 5 5-5" />
                </svg>
                <span class="ml-2">Télécharger</span>
            </button>
            <button
                class="btn btn-error"
                hx-delete="/{{ torrent.hash }}"
                hx-target="#card-{{ torrent.hash }}"
                hx-swap="delete"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-trash-icon lucide-trash"
                >
                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                    <path d="M3 6h18" />
                    <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" /></svg
                ><span class="ml-2">Supprimer</span>
            </button>
        </div>
    </div>
</div>

{% endfor %} {% endblock %}
