{% extends "base.html" %} {% block content %} {% for torrent in torrent_list %}
<div class="card bg-base-100 w-full shadow-sm mb-4">
    <div class="card-body">
        <h2 class="card-title">{{ torrent.name }}</h2>
        <p>
            A card component has a figure, a body part, and inside body there
            are title and actions parts
        </p>
        <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}
