{% extends "base.html" %}
{% block content %}
{% import "macros/svg_icons.html" as icons %}
{% include "components/upload_modal.html" %}
<div id="torrent-list" hx-get="/" hx-trigger="every 5s" class="mt-1 md:mt-4">
    {% include "components/torrent_list.html" %}
</div>
<button
    class="fixed bottom-12 right-6 md:right-12 z-50 btn btn-primary btn-circle"
    aria-label="Ajouter"
    title="Ajouter"
    onclick="upload_modal.showModal()"
>
    {{ icons.download_icon() }}
</button>
{% include "components/delete_torrent_modal.html" %}
{% endblock %}
