{% extends "base.html" %}
{% block content %}
{% import "macros/svg_icons.html" as icons %}
{% include "components/folder_control.html" %}
<ul id="file-list" class="list bg-base-100 rounded-box shadow-md">
    {% include "components/file_list.html" %}
</ul>
<button
    class="fixed bottom-12 right-6 md:right-12 z-50 btn btn-primary btn-circle"
    aria-label="Ajouter"
    title="Ajouter"
    onclick="file_upload_modal.showModal()"
>
    {{ icons.upload_icon() }}
</button>
{% include "components/zip_modal.html" %}
{% include "components/unzip_modal.html" %}
{% include "components/file_upload_modal.html" %}
{% include "components/create_torrent_modal.html" %}
{% endblock %}
