<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Bootstrap demo</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">StremBox</span>
            </div>
        </nav>
        <div class="container">
            <form action="/" method="post">
                <div class="mb-3">
                    <label for="streamerUrl" class="form-label"
                        >URL de l'instance Streamer</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="streamerUrl"
                        name="streamer_url"
                    />
                </div>

                <div class="mb-3">
                    <label for="streamerToken" class="form-label"
                        >Clé API de l'instance Streamer</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="streamerToken"
                        name="streamer_token"
                    />
                </div>

                <div class="mb-3">
                    <label for="c411Key" class="form-label">Clé API C411</label>
                    <input
                        type="text"
                        class="form-control"
                        id="c411Key"
                        name="c411_key"
                    />
                </div>

                <div class="mb-3">
                    <label for="torr9Key" class="form-label"
                        >Clé API Torr9</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="torr9Key"
                        name="torr9_key"
                    />
                </div>

                <div class="mb-3">
                    <label for="lacaleKey" class="form-label"
                        >Clé API La Cale</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="lacaleKey"
                        name="lacale_key"
                    />
                </div>

                <button type="submit" class="btn btn-primary">Générer</button>
            </form>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
