<dialog
    id="file_upload_modal"
    class="modal"
    aria-labelledby="upload-modal-title"
>
    {% include "components/file_upload_modal_box.html" %}
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

<script>
    document
        .querySelector("#file_upload_modal")
        .addEventListener("htmx:afterRequest", function (evt) {
            if (evt.detail.xhr.status === 200) {
                file_upload_modal.close();
            }
        });
</script>
