<div id="file_upload_modal_box" class="modal-box">
    <div id="error-alert"></div>

    <h3 id="file-upload-modal-title" class="text-lg font-bold mb-4">
        Ajouter un fichier
    </h3>

    <form
        id="file_upload_form"
        hx-post="/files/"
        hx-target="#file_upload_modal_box"
        hx-target-error="#error-alert"
        hx-swap="outerHTML"
        hx-encoding="multipart/form-data"
        hx-indicator="#progress"
        hx-disabled-elt="#uploaded_file"
    >
        <fieldset class="fieldset">
            <legend class="fieldset-legend">Fichier</legend>
            <input
                id="uploaded_file"
                class="file-input w-full"
                type="file"
                name="uploaded_file"
            />
        </fieldset>
        <progress
            id="progress"
            class="progress progress-primary w-full mt-4 htmx-indicator"
            value="0"
            max="1"
        ></progress>
        <button class="btn btn-primary mt-4 w-full" type="submit">
            Ajouter Fichier
        </button>
    </form>
</div>

<script>
    document
        .getElementById("file_upload_form")
        .addEventListener("htmx:xhr:progress", function (evt) {
            document.getElementById("progress").value =
                evt.detail.loaded / evt.detail.total;
        });
</script>
