{% import "macros/svg_icons.html" as icons %}
<div
    id="folder-control"
    class="sticky top-0 p-4 bg-primary-content flex justify-between"
    {% if is_htmx %}hx-swap-oob="true"{% endif %}
>
    <div class="flex">
        {% if folder %}
        <a href="/files/{% if parent_folder %}?folder={{ parent_folder }}{% endif %}">
            {{ icons.arrow_big_left_icon(class="min-w-[24px] min-h-[24px]") }}
        </a>
        <p class="ml-4">{{ folder }}</p>
        {% else %}
        {{ icons.house_icon() }}
        <p class="ml-4">Mes Fichiers</p>
        {% endif %}
    </div>
    <div>{{ size|format_size }}/{{ total_size }} GB</div>
</div>
