{% import "macros/svg_icons.html" as icons %}
{% for torrent in torrent_list %}
<div
    id="card-{{ torrent.hash_string }}"
    class="card bg-base-100 w-full shadow-sm mb-4"
>
    <div class="card-body">
        <div class="grid grid-cols-12 md:gap-4">
            <div class="col-span-12 md:col-span-10">
                <h2 class="card-title overflow-hidden">{{ torrent.name }}</h2>
                <div class="w-full flex items-center">
                    Progression:
                    <progress
                        class="progress progress-{% if torrent.status == 'stopped' %}error{% elif torrent.status == 'download pending' %}warning{% elif torrent.progress == 100 %}success{% else %}info{% endif %} ml-2"
                        value="{{ torrent.progress }}"
                        max="100"
                    ></progress>
                </div>
                <p>
                    {{ torrent.peers_sending_to_us }} Seeds - {{ torrent.peers_getting_from_us }} Leechs - {{ torrent.ratio|round(2) }} Ratio
                </p>
                <p>Créé {{ torrent.added_date|relative_time }}</p>
            </div>
            <div class="col-span-12 md:col-span-2 flex flex-col items-end">
                <div class="w-full flex flex-row md:flex-col justify-between">
                    <div class="flex">
                        {{ icons.arrow_down_icon(class="text-success" if torrent.rate_download > 0 else "") }}
                        <span class="ml-2">{{ torrent.rate_download|format_size }}/s</span>
                    </div>
                    <div class="flex">
                        {{ icons.arrow_up_icon(class="text-success" if torrent.rate_upload > 0 else "") }}
                        <span class="ml-2">{{ torrent.rate_upload|format_size }}/s</span>
                    </div>
                    <div class="flex">
                        {{ icons.hard_drive_icon() }}
                        <span class="ml-2">{{ torrent.total_size|format_size }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <a
                href="/files/download?file_path={{ torrent.name }}"
                target="_blank"
                class="btn btn-primary"
            >
                {{ icons.download_icon() }}
                <span class="ml-2">Télécharger</span>
            </a>
            <button
                class="btn btn-error"
                data-hash="{{ torrent.hash_string }}"
                onclick="setupDeleteTorrent(this)"
            >
                {{ icons.trash_icon() }}
                <span class="ml-2">Supprimer</span>
            </button>
            {% if torrent.status == "stopped" %}
            <button class="btn btn-secondary col-span-2" hx-post="/{{ torrent.hash_string }}/start" hx-target="#torrent-list">
                {{ icons.play_icon() }}
                <span class="ml-2">Démarrer</span>
            </button>
            {% else %}
            <button class="btn btn-secondary col-span-2" hx-post="/{{ torrent.hash_string }}/stop" hx-target="#torrent-list">
                {{ icons.stop_icon() }}
                <span class="ml-2">Arrêter</span>
            </button>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

<script>
    function setupDeleteTorrent(btn) {
        const hash = btn.getAttribute("data-hash");
        const deleteBtn = document.getElementById("delete-torrent-btn");
        const deleteFilesBtn = document.getElementById("delete-torrent-files-btn");
        const target = "#card-" + hash;

        deleteBtn.setAttribute("hx-delete", "/" + hash);
        deleteBtn.setAttribute("hx-target", target);
        deleteFilesBtn.setAttribute("hx-delete", "/" + hash + "?delete_files=true");
        deleteFilesBtn.setAttribute("hx-target", target);

        htmx.process(document.getElementById("delete_torrent_modal"));
        delete_torrent_modal.showModal();
    }
</script>
