<dialog id="upload_modal" class="modal" aria-labelledby="upload-modal-title">
    <div class="modal-box">
        <h3 id="upload-modal-title" class="text-lg font-bold">
            Ajouter un torrent
        </h3>

        <form action="/" method="post" enctype="multipart/form-data">
            <input
                class="file-input my-4"
                type="file"
                name="torrent_file"
                accept=".torrent"
                required
            />
            <button class="btn btn-primary" type="submit">
                Ajouter Torrent
            </button>
        </form>
    </div>

    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
